target/
.idea/
docker/logstash/output/*
!docker/logstash/output/.gitkeep
docker/logstash/logs-in/*
!docker/logstash/logs-in/.gitkeep
docker/logstash/.env
*.iml
*.class
.classpath
.project
.settings/
.vscode/
*.log
.mvn/wrapper/maven-wrapper.jar
